# This is an example .env file. You should copy this file to .env and fill in the values.
DB_USER=user
DB_PASSWORD=password

# Database names
USER_DB=userdb
CAFE_DB=cafedb

# Spring profile to use (dev, prod, etc.)
APP_PROFILE=dev
